.factura{
    display: flex;
    flex-direction: column;
    
    
}

.laukizuzena{
    background-color: white;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 1000px;
}
body{
    background-color: gray;
}
img{
    width: 100px;
}
.logo{
    width: 210px;
    float: left;
    margin-left: 20px;
}

.background{
    margin-top: 50px; 
    display: flex;
    justify-content: center;
}
.datosProductos{
    max-height: 250px;
    overflow-y:scroll;
    
}
.nombre{
   width: 100%;
}
.telefono{
    width: 100%;
}
.direccion{
   width: 100%;
}
.cantidad{
    width: 100%;
    text-align: end;
    height: 50px;
}
.total{
    width: 100%;
    text-align: end;
    height: 50px;
}
.cuerpo{
    display: none;
    
}
