.factura{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.productos{
    display: flex;
    justify-content: space-between;
}
.laukizuzena{
    background-color: white;
    margin-top: 8px;
    display: flex;
    width: 33%;
    flex-direction: column;
}
body{
    background-color: gray;
}
img{
    width: 100px;
}
.logo{
    width: 210px;
    float: left;
    margin-left: 20px;
}

.background{
    margin-top: 50px; 
    display: flex;
    text-align: center;
    flex-direction: column;
}
.datosProductos{
    max-height: 250px;
    overflow-y:scroll;
    
}
.nombre{
   width: 100%;
}
.telefono{
    width: 100%;
}
.direccion{
   width: 100%;
}
.cantidad{
    width: 100%;
    text-align: end;
    height: 50px;
}
.total{
    width: 100%;
    text-align: end;
    height: 50px;
}
.cuerpo{
    display: none;
    
}
.borrar{
    color: red;
    text-align: end;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.borrar:hover{
    text-decoration: underline
}
.index{
    background-color: palevioletred;
    color: white;
    padding: 20px;
    border-radius: 15px;
    border: solid 1px palevioletred;
    margin-top: 20px;
    width: 150px;
    text-align: center;
}
.index:hover{
    text-decoration: underline white;
}
a{
    height: 64px;
    width: 150px;
    
}
.footer{
    text-align: end;
}
