.borrar{
    width: 50px;
    height: 50px;
    float: right;
}
img{
    width:200px;
}
table{
    width: 100%;
}
.logo{
    width: 210px;
    float: left;
    margin-left: 20px;
}
.carrito{
    width: 50px;
}
body{
    text-align: center;
}