
button{
    float: right;
}
.logo{
    width: 250px;
    float: left;
    margin-left: 20px;
}
.carrito{
    width: 50px;
   
}
.card-img-top{
    display: flex;
    flex-grow: 3;
    
}
.card-body{
    display: flex;
    flex-grow: 1;
    
}
.content{
    float: left;
}
.background{
    background-color: grey;
}

.navbar{
    background-color: white;
}
.admin{
    color: black;
}
