
button{
    float: right;
}

.logo{
    width: 250px;
    float: left;
    margin-left: 20px;
}
.carrito{
    width: 50px;
   display: none;
}
.card{
    margin-top: 15px; 
}
.content{
    float: left;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.background{
    background-color: grey;
    display: flex;
    flex-wrap: nowrap;
}

.navbar{
    background-color: palevioletred;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.admin{
    color: black;
}
.lateral{
   position: relative;
    width: 150px;
    margin-top: 25px;
    margin-left: 15px;
    
    height: 700px;
    
}
.marcas{
    margin: 10px;
    margin-bottom:8x;
    text-align: center;
    width: 100px;
    background-color: palevioletred;
    border-radius:20px; 
    
}
.marcas:hover{
    cursor: pointer;
}
.filtros{
    text-align: center;
    border-bottom: solid black 3px;
}
.fixed{
    position: fixed;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.precio{
    float: left;
}
.btn-primary{
    background-color: grey;
}

.titulo{
    flex-grow: 1;
    text-align: inherit;
}

.imagen{

  width: 100%;
    margin-top: 10px;
    background-size:cover;
}
