
button{
    float: right;
}
.logo{
    width: 250px;
    float: left;
    margin-left: 20px;
}
.carrito{
    width: 50px;
   
}
.card-img-top{
    display: flex;
    flex-grow: 3;
    
}
.card-body{
    display: flex;
    flex-grow: 1;
    
}
.card{
    margin-top: 25px; 
}
.content{
    float: left;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
}
.background{
    background-color: grey;
    display: flex;
    flex-wrap: nowrap;
}

.navbar{
    background-color: white;
}
.admin{
    color: black;
}
.lateral{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 150px;
    margin-top: 25px;
    margin-left: 15px;
    
    height: 700px;
    
}
.nav-link{
    margin: 25px;
}
.filtros{
    text-align: center;
    border-bottom: solid black 3px;
}
.fixed{
    
    background-color: white;
    border-radius: 15px;
}
.precio{
    float: left;
}
